@{
    Layout = "_LayoutDeslogada";
    ViewData["Title"] = "Pagina Restrita";
}
<p>Você não tem Permissão para Acessar essa Página, <a asp-controller="Home" asp-action="Index">Clique aqui para Voltar!</a></p>