@model LoginModel
@{
    Layout = "_LayoutDeslogada";
    ViewData["Title"] = "Login";
}


@if (TempData["MensagemSucesso"] != null)
{
    <Center>
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    </Center>
}

@if (TempData["MensagemErro"] != null)
{
    <Center>
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    </Center>
}

<h1>Login do Usuário</h1>
<br/>
<form asp-controller="Login" asp-action="Entrar" method="post">
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" asp-for="Email" class="form-control" id="Login" placeholder="Insira seu Login (Nome, Email ou CPF)">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" asp-for="Senha" class="form-control" id="Senha" placeholder="Senha">
        @Html.ValidationMessageFor(x => x.Senha)
    </div>
    <p class="mb-4 text-sm mx-auto">
        Esqueceu sua Senha ?
        <a asp-action="RedefinirSenha" asp-controller="Login" class="text-primary text-gradient font-weight-bold"><b>Redefinir Senha</b></a>
        </p>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>