@model RedefinirSenhaModel
@{
    Layout = "_LayoutDeslogada";
    ViewData["Title"] = "Redefinir Senha";
}
@if (TempData["MensagemErro"] != null)
{
    <Center>
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    </Center>
}

<h1>Redefinir Senha</h1>
<br />
<form asp-controller="Login" asp-action="EnviarLinkRedefinirSenha" method="post">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" asp-for="Email" class="form-control" id="Email" placeholder="Insira seu Email">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    </br>
    <button type="submit" class="btn btn-primary">Redefinir</button>
    <a class="btn btn-secondary" asp-controller="Login" asp-action="Index" role="button">Voltar</a>
</form>
