@{
    ViewData["Title"] = "Página Inicial";
}


<body>
    </br>
    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <center><img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/54/Next_2007-_logo.svg/2560px-Next_2007-_logo.svg.png" width="500" height="150" /></center>
                <h1 class="jumbotron-heading">Sua saúde ao nosso alçance</h1>
                <p class="lead text-muted">Ampliações, aquisições de novos equipamentos, treinamentos. Isso é a nova geração técnológica por trás do Hospital Next! Nosso objetivo é sempre garantir o bem-estar e a segurança dos pacientes. Atestando qualidade nos serviços prestados, sempre visando a melhoria contínua do Hospital.</p>
                <p>
                    <a class="btn btn-primary my-2" asp-area="" asp-controller="Medico" asp-action="Index">Área de Médicos</a>
                    <a class="btn btn-primary my-2" asp-area="" asp-controller="Paciente" asp-action="Index">Área de Pacientes</a>
                </p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src="https://ecomax-cdi.com.br/wp-content/uploads/2019/06/2407.167-Como-se-Comunicar-Melhor-com-o-Paciente-DestacadaAPROVADO-1170x630.png">
                            <div class="card-body">
                                <p class="card-text">No Hospital Next, a satisfação dos pacientes é a nossa prioridade. Estamos dedicados a fornecer cuidados de saúde de alta qualidade, incorporando a compaixão e a excelência em cada interação. Agradecemos a todos os pacientes que compartilharam suas experiências positivas e continuaremos a nos esforçar para superar as expectativas em prol da saúde e do bem-estar de nossa comunidade.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src="https://ceferp.com.br/wp-content/uploads/2017/09/125804-dia-do-medico-entenda-a-origem-da-comemoracao.jpg">
                            <div class="card-body">
                                <p class="card-text">No Hospital Next, a excelência em cuidados de saúde é impulsionada pela dedicação inabalável de nossa equipe médica. Cada membro, desde os cirurgiões renomados até os profissionais de enfermagem e especialistas em suporte, compartilha o compromisso com a qualidade, compaixão e inovação em cada passo da jornada do paciente.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src="https://mv.com.br/storage/blog/0904492022072862e27b612b886.png">
                            <div class="card-body">
                                <p class="card-text">Em cada história de sucesso, vemos a promessa cumprida do Hospital Next em transformar vidas por meio de cirurgias bem-sucedidas. Ao escolher nossa instituição de saúde, você está optando pela excelência, inovação e, acima de tudo, pelo cuidado compassivo que define o Hospital Next. Juntos, continuamos a escrever histórias de sucesso que inspiram esperança e mudam vidas.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </main>
</body>
