@model PacienteModel
@{
    ViewData["Title"] = "Apagar Paciente";
}

<div class="text-center">
    <h3>Realmente Deseja Apagar (@Model.Nome)?</h3>
</div>
<br />
<center>
    <a class="btn btn-success" role="button" asp-controller="Paciente" asp-action="Excluir" asp-route-id="@Model.Id">Confirmar</a>
    <a class="btn btn-danger" role="button" asp-controller="Paciente" asp-action="Index">Cancelar</a>
</center>
